# pepipost
#
# This file was automatically generated by APIMATIC v2.0 (
# https://apimatic.io ).

module Pepipost
  # SubaccountsGetcreditddetailsController
  class SubaccountsGetcreditddetailsController < BaseController
    @instance = SubaccountsGetcreditddetailsController.new

    class << self
      attr_accessor :instance
    end

    def instance
      self.class.instance
    end

    # Let's you fetch subaccounts credit details created by you on master
    # account
    # @param [String] username Required parameter: Example:
    # @return Object response from the API call
    def getcreditddetails_get(username)
      # Prepare query url.
      _path_url = '/subaccounts/getcreditddetails'
      _query_builder = Configuration.base_uri.dup
      _query_builder << _path_url
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        {
          'username' => username
        },
        array_serialization: Configuration.array_serialization
      )
      _query_url = APIHelper.clean_url _query_builder
      # Prepare and execute HttpRequest.
      _request = @http_client.get(
        _query_url
      )
      CustomHeaderAuth.apply(_request)
      _context = execute_request(_request)
      # Validate response against endpoint and global error codes.
      if _context.response.status_code == 400
        raise APIException.new(
          'API Response',
          _context
        )
      elsif _context.response.status_code == 401
        raise APIException.new(
          'API Response',
          _context
        )
      elsif _context.response.status_code == 403
        raise APIException.new(
          'API Response',
          _context
        )
      elsif _context.response.status_code == 405
        raise APIException.new(
          'Invalid input',
          _context
        )
      end
      validate_response(_context)
      # Return appropriate response type.
      _context.response.raw_body
    end
  end
end
